{% ckan_extends %}

{% block extras %}
    {% if pkg_dict.geocodingDescription %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Fachlicher Geobezug") }}</th>
      <td class="dataset-details" property="dcatde:geocodingDescription">{{ pkg_dict.geocodingDescription }}</td>
    </tr>
  {% endif %}

  {% if pkg_dict.startDate %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Startdatum Datensatz") }}</th>
      <td class="dataset-details" property="schema:startDate">{{ pkg_dict.startDate }}</td>
    </tr>
  {% endif %}

  {% if pkg_dict.endDate %}
  <tr>
    <th scope="row" class="dataset-label">{{ _("Enddatum Datensatz") }}</th>
    <td class="dataset-details" property="schema:endDate">{{ pkg_dict.endDate }}</td>
  </tr>
  {% endif %}

  {% if pkg_dict.geometry %}
  <tr>
    <th scope="row" class="dataset-label">{{ _("Geographische Ausdehnung") }}</th>
    <td class="dataset-details" property="locn:geometry">{{ pkg_dict.geometry }}</td>
  </tr>
  {% endif %}

  {% if pkg_dict.contributorID %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Datenbereitsteller ID") }}</th>
      <td class="dataset-details" property="dcatde:contributorID">{{ pkg_dict.contributorID }}</td>
    </tr>
  {% endif %}

  {% if pkg_dict.plannedAvailability %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Verfügbarkeitszeitsraum") }}</th>
      <td class="dataset-details" property="dcatde:plannedAvailability">{{ pkg_dict.plannedAvailability }}</td>
    </tr>
  {% endif %}

  {% if pkg_dict.politicalGeocodingLevelURI %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Verwaltungsschlüssel") }}</th>
      <td class="dataset-details" property="dcatde:politicalGeocodingLevelURI">{{ pkg_dict.politicalGeocodingLevelURI }}</td>
    </tr>
  {% endif %}

  {% if pkg_dict.politicalGeocodingURI %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Gemeindeschlüssel") }}</th>
      <td class="dataset-details" property="dcatde:politicalGeocodingURI">{{ pkg_dict.politicalGeocodingURI }}</td>
    </tr>
  {% endif %}

{% endblock %}