{% ckan_extends %}
{% block package_basic_fields_custom %}
{{ super() }}
  {{ form.input('contributorID', label=_('Datenbereitsteller ID'), id='field-contributorID', placeholder=_('http://opendata-soest.de'), value=data.contributorID, error=errors.contributorID, classes=['control-medium']) }}
  {{ form.input('plannedAvailability', label=_('Verfügbarkeitszeitsraum'), id='field-plannedAvailability', placeholder=_('http://dcat-ap.de/def/plannedAvailability/available'), value=data.plannedAvailability, error=errors.plannedAvailability, classes=['control-medium']) }}
  {{ form.input('politicalGeocodingLevelURI', label=_('Verwaltungsebene'), id='field-politicalGeocodingLevelURI', placeholder=_('http://dcat-ap.de/def/politicalGeocoding/Level/municipality'), value=data.politicalGeocodingLevelURI, error=errors.politicalGeocodingLevelURI, classes=['control-medium']) }}
  {{ form.input('politicalGeocodingURI', label=_('Gemeindeschlüssel'), id='field-politicalGeocodingURI', placeholder=_('https://www.dcat-ap.de/def/politicalGeocoding/regionalKey/20210831#059740040040'), value=data.politicalGeocodingURI, error=errors.politicalGeocodingURI, classes=['control-medium']) }}
{% endblock %}